<h1>E-Commerce App</h1>

<% if @warehouses.empty?%>
  <p>Nenhum galpão encontrado</p>
<% else %>
  <% @warehouses.each do |warehouse| %>
    <h1><%= link_to warehouse.name, warehouse_path(warehouse.id) %></h1>
    <p><%= warehouse.code %></p>
    <p><%= warehouse.city %></p>
  <% end %>
<% end %>

